<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.flyeek.vpn-switch</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>62378C21-A264-43E5-814C-FC1A56AA20E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>567838FC-87A6-4EE2-9701-55FDA0AC0068</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A72939E3-8FCF-4685-8078-52EE9029648B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C977A017-A240-4FAE-B435-CD543D68CE25</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>flyeek</string>
	<key>description</key>
	<string>Switch vpn on or off</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VPN Switch</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python vpnSwitch.py --setkey "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>567838FC-87A6-4EE2-9701-55FDA0AC0068</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>vsetkey</string>
				<key>subtext</key>
				<string>set L2TP shared secret key</string>
				<key>text</key>
				<string>Set L2TP Key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>62378C21-A264-43E5-814C-FC1A56AA20E4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>vpn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please waite</string>
				<key>script</key>
				<string>python vpnSwitch.py "{query}"</string>
				<key>subtext</key>
				<string>switch vpn on or off</string>
				<key>title</key>
				<string>Switch VPN</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A72939E3-8FCF-4685-8078-52EE9029648B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python vpnSwitch.py --action True "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C977A017-A240-4FAE-B435-CD543D68CE25</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This is readme</string>
	<key>uidata</key>
	<dict>
		<key>567838FC-87A6-4EE2-9701-55FDA0AC0068</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>62378C21-A264-43E5-814C-FC1A56AA20E4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A72939E3-8FCF-4685-8078-52EE9029648B</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>C977A017-A240-4FAE-B435-CD543D68CE25</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
